**This program made by # AMIT DHOMNE # Instructor/Software Developer /Practitioner/ Programmer**

https://api.covid19india.org/  
https://api.covid19india.org/csv/

In [ ]:
# This is Data Analytics project on Covid data

## Import libraries

In [4]:
# to get web contents
#include <math.h>
#sqrt,pow
# import java.util.*;
import requests
# to parse json contents
import json
# to parse csv files
import csv

# for numerical operations, convert row into vector [ 1, 2, 3 ,4 , 5]
import numpy as np
# to store and analysis data in dataframes
import pandas as pd
#12332525uy324i58725678234

## Raw data

In [5]:
# read data
raw_1 = pd.read_csv('https://api.covid19india.org/csv/latest/raw_data1.csv') # I am reading data directly from website without downloading data
raw_2 = pd.read_csv('https://api.covid19india.org/csv/latest/raw_data2.csv')
raw_3 = pd.read_csv('https://api.covid19india.org/csv/latest/raw_data3.csv')
raw_4 = pd.read_csv('https://api.covid19india.org/csv/latest/raw_data4.csv')
raw_5 = pd.read_csv('https://api.covid19india.org/csv/latest/raw_data5.csv')
raw_6 = pd.read_csv('https://api.covid19india.org/csv/latest/raw_data6.csv')
raw_7 = pd.read_csv('https://api.covid19india.org/csv/latest/raw_data7.csv')
raw_8 = pd.read_csv('https://api.covid19india.org/csv/latest/raw_data8.csv')
raw_9 = pd.read_csv('https://api.covid19india.org/csv/latest/raw_data9.csv')
raw_10 = pd.read_csv('https://api.covid19india.org/csv/latest/raw_data10.csv')
raw_11 = pd.read_csv('https://api.covid19india.org/csv/latest/raw_data11.csv')
raw_12 = pd.read_csv('https://api.covid19india.org/csv/latest/raw_data12.csv')


# concatenate dfs , # combining all files data in single file 
full_data = pd.concat([raw_1, raw_2, raw_3, raw_4, raw_5, 
                       raw_6, raw_7, raw_8, raw_9, raw_10, 
                       raw_11, raw_12])

# save to csv` # after combining data i will save as patients.csv
full_data.to_csv('patients_data.csv', index=False)

# no. of rows and column

In [7]:
print(full_data.shape)

# first few rows
#full_data.head(20)  # 12 APi data , 25 * 17200 , 430000

(247233, 22)

In [8]:
print(full_data)

       Patient Number State Patient Number  ... Num Cases  Entry_ID
0                 1.0             KL-TS-P1  ...       1.0       NaN
1                 2.0             KL-AL-P1  ...       1.0       NaN
2                 3.0             KL-KS-P1  ...       1.0       NaN
3                 4.0                DL-P1  ...       1.0       NaN
4                 5.0                TS-P1  ...       1.0       NaN
...               ...                  ...  ...       ...       ...
22329             NaN                  NaN  ...     151.0  219096.0
22330             NaN                  NaN  ...     114.0  219097.0
22331             NaN                  NaN  ...     122.0  219098.0
22332             NaN                  NaN  ...     163.0  219099.0
22333             NaN                  NaN  ...    -654.0  219100.0

[247233 rows x 22 columns]

## Daily cases

In [10]:
# read data
# jupyter anaconda
day_wise = pd.read_csv('https://api.covid19india.org/csv/latest/case_time_series.csv')
 #C:\Users\Amit Dhomne\Music\Data science with Python 1

# save as a .csv file
day_wise.to_csv('nation_level_daily.csv', index=False)

# first few rows
day_wise.head(100)

               Date    Date_YMD  ...  Daily Deceased  Total Deceased
0   30 January 2020  2020-01-30  ...               0               0
1   31 January 2020  2020-01-31  ...               0               0
2   1 February 2020  2020-02-01  ...               0               0
3   2 February 2020  2020-02-02  ...               0               0
4   3 February 2020  2020-02-03  ...               0               0
..              ...         ...  ...             ...             ...
95       4 May 2020  2020-05-04  ...             103            1566
96       5 May 2020  2020-05-05  ...             128            1694
97       6 May 2020  2020-05-06  ...              91            1785
98       7 May 2020  2020-05-07  ...             104            1889
99       8 May 2020  2020-05-08  ...              97            1986

[100 rows x 8 columns]

## Latest - State wise

In [ ]:
## https://api.covid19india.org/csv/latest/state_wise.csv
    
# read data
latest = pd.read_csv('https://api.covid19india.org/csv/latest/state_wise.csv')

# save as a .csv file`
latest.to_csv('state_level_latest.csv', index=False)

# first few rows
latest.head(9)

            State  ...                                        State_Notes
0           Total  ...                                                NaN
1     Maharashtra  ...  [Dec 16]:10,218 duplicate cases & other state ...
2          Kerala  ...  Mahe native who expired in Kannur included in ...
3       Karnataka  ...                                                NaN
4  Andhra Pradesh  ...                                                NaN
5      Tamil Nadu  ...  [July 22]: 444 backdated deceased entries adde...
6           Delhi  ...  [July 14]: Value for the total tests conducted...
7   Uttar Pradesh  ...  [Jan 1]:As no bulletin was provided for 31'st ...
8     West Bengal  ...                                                NaN

[9 rows x 12 columns]

## State wise daily

In [ ]:
# read data
state_wise_daily = pd.read_csv('https://api.covid19india.org/csv/latest/state_wise_daily.csv')

# melt dataframe
state_wise_daily = state_wise_daily.melt(id_vars=['Date', 'Status'], 
                                         value_vars=state_wise_daily.columns[2:], 
                                         var_name='State', value_name='Count')

# pivot table
state_wise_daily = state_wise_daily.pivot_table(index=['Date', 'State'], 
                                                columns=['Status'], 
                                                values='Count').reset_index()

# map state names to state codes
state_codes = {code:state for code, state in zip(latest['State_code'], latest['State'])}
state_codes['DD'] = 'Daman and Diu'
state_wise_daily['State_Name'] = state_wise_daily['State'].map(state_codes)

# save as a .csv file
state_wise_daily.to_csv('state_level_daily.csv')

# first few rows
state_wise_daily.head()

Status       Date State  ...  Recovered                   State_Name
0       01-Apr-20    AN  ...          0  Andaman and Nicobar Islands
1       01-Apr-20    AP  ...          1               Andhra Pradesh
2       01-Apr-20    AR  ...          0            Arunachal Pradesh
3       01-Apr-20    AS  ...          0                        Assam
4       01-Apr-20    BR  ...          0                        Bihar

[5 rows x 6 columns]

## District wise

In [ ]:
# read data
district_wise = pd.read_csv('https://api.covid19india.org/csv/latest/district_wise.csv')

# save as .csv file
district_wise.to_csv('district_level_latest.csv', index=False)

# first few rows
district_wise.head()

   SlNo  ... Last_Updated
0     0  ...          NaN
1     1  ...          NaN
2     2  ...          NaN
3     3  ...          NaN
4     0  ...          NaN

[5 rows x 16 columns]

## Tests

In [ ]:
# read data
tests_day_wise = pd.read_csv('https://api.covid19india.org/csv/latest/tested_numbers_icmr_data.csv')

# save as .csv file
tests_day_wise.to_csv('tests_day_wise.csv', index=False)

# first few rows
tests_day_wise.head()

     Update Time Stamp  ... Tests per million
0  13/03/2020 00:00:00  ...               5.0
1  18/03/2020 18:00:00  ...              10.0
2  19/03/2020 10:00:00  ...              10.0
3  19/03/2020 18:00:00  ...              11.0
4  20/03/2020 10:00:00  ...              11.0

[5 rows x 17 columns]

## State wise tests no.

# read data
tests_state_wise = pd.read_csv('https://api.covid19india.org/csv/latest/statewise_tested_numbers_data.csv')

# save as .csv file
tests_state_wise.to_csv('tests_state_wise.csv', index=False)

# first few rows
tests_state_wise.head(10000)